# macOS metadata
.DS_Store
**/.DS_Store

# Build & egg metadata
*.egg-info/
build/
dist/

# Python cache & compiled files
**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Video recordings and log files
*.mp4
*.avi
*.log

# Dataset folders
datasets/

# Cloned reference repo
jetracer-car/